body, #root, .root-container{
    height: 100%;
    background-color: #f8f8f8;
}

.tabs {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden
}

.tabs li {
    float:left;
}

.tabs li a {
    display:block;
    padding:8px 16px
}

.tabs li a:hover {
    color:#000;
    background-color:#ccc
}

.col-1 { width: 4.66666666667%;}
.col-2 { width: 13.3333333333%;}
.col-3 { width: 22%;}
.col-4 { width: 30.6666666667%;}
.col-5 { width: 39.3333333333%;}
.col-6 { width: 48%;}
.col-7 { width: 56.6666666667%;}
.col-8 { width: 65.3333333333%;}
.col-9 { width: 74.0%;}
.col-10 { width: 82.6666666667%;}
.col-11 { width: 91.3333333333%;}
.col-12 { width: 100%; margin-left: 0;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  float: left;
  box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/*
input {
  border: 2pt solid lightgrey;
  padding: 4pt;
  width: 100%;
  max-width: 400pt;
  height: 32pt;
  font-size: 22pt;
}
*/

.top-header {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: white;
  width: 100%;
  position: fixed;
  padding-bottom:4pt;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width:auto;
  text-align: center;
  height: 4rem;
}

.main-menu-holder {
  float: left;
}

.main-user-actions {
  float: right;
}

main {
  background-color: #fff;
  margin-top: 5rem;
}

main, .top-header{
  box-shadow: rgba(0,0,0,0.1) 0 1px 4px 0;
}

@media screen and (min-width: 800px) {
    main, .top-header nav {
        margin-left: 5.55555%;
        margin-right: 5.55555%;
    }
}

@media screen and (min-width: 1200px) {
    main, .top-header nav {
        margin-left: 8.333325%;
        margin-right: 8.333325%;
    }
}

@media screen and (min-width: 1600px) {
    main, .top-header nav {
        margin-left: 11.1111%;
        margin-right: 11.1111%;
    }
}

.codex-search-holder {
  margin-top: 24pt;
  padding-bottom:4pt;
}

.codex-list-item {
  padding: 4pt;
}

.thumbnail {
  border: 1px solid lightgray;
  min-width: 80pt;
  min-height: 160pt;
  padding:8pt;
}

.thumbnail-container {
  padding:4pt;
}
